#body {
    --back : #00005C;
    background-color: var(--back);
    color : white;  
}

.navbar {
    background-color: black;
    position: fixed;
    right: 0vw;
    top: 0vh;
    min-width: 100vw;
    z-index: 1;
}

.nav-link {
    color:white;
    display: inline-block;
    margin: 0;
}
.links {
    float: right;
    /*position: fixed;*/
}

.row {
    background-position-x: center;
}

.typewriter h1 {
    margin: 0 auto;
    margin-top: 10vh;
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    /*margin: 0 auto;*/
    width: 15em;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40,end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width: 0;}
    to {width: 15em;}
}

@keyframes blink-caret {
    from,to { border-color: transparent;}
    50% { border-color: orange; }
}
.fa {
    font-size: 200%;
    width: 1.1em;
    text-decoration: none;
}
.fa-instagram {
    color: pink;
}
.fa-facebook-official {
    color: blue;
}
.fa-envelope {
    color: lightblue;
}
.fa-github {
    color: black;
}