@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

img {
    max-width: 100%;
    display: block;
    height: auto;
}

#body {
    /*--back : #00005C;
    --back : #a4a4ff;   
    background-color: var(--back); */
    /*background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(178,98,225,1) 50%, rgba(0,212,255,1) 100%);
    */

    font-family: 'Quicksand', sans-serif;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

#headID {
    --back : #ffffff;
    /*background-image : url("Images/back.jpg");*/
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 100vh;
    max-height: 100vh;


    
    color:blue;

}

.typewriter {
    padding-top: 5vh;
    color : white;
    vertical-align: middle;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0vw;
    top: 0vh;
    padding-top: 0;
    margin-top: 0;
    min-width: 100vw;
    z-index: 1;

}

.nav-link {
    color:white;
    display: inline-block;
    margin: 0;
}
.links {
    float: right;
    /*position: fixed;*/
}

.row {
    background-position-x: center;
    padding-bottom: 10vh;
}

#abtme {
                    
    color: black;
    text-align: left;
    

}

.downBtn {
    position: absolute;

    text-align: center !important;
    bottom: 10vh;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    animation: downBtnMove 1s infinite;
}

@keyframes downBtnMove {
    0% {bottom: 10vh;}
    50% {bottom: 8vh;}
    100% {bottom: 10vh;}
}
.cursor {
    display: inline-block;
    width: 1px;
    background-color: blue;
    animation: blink 1s infinite;
}
.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {background-color: white;}
    39% {background-color: white;}
    40% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: white;}
}

.circle {
    background-color: lightblue;
    border-radius: 50%;

    
}



.fa {
    font-size: 200%;
    width: 1.1em;
    text-decoration: none;
}
.fas {
    color: white;
    font-size: 300%;
    text-decoration: none !important;
}
.fa-instagram {
    color: pink;
}
.fa-facebook-official {
    color: blue;
}
.fa-envelope {
    color: lightblue;
}
.fa-github {
    color: black;
}