#body {
    --back : #00005C;
    --back : #a4a4ff;   
    background-color: var(--back);  
}




#headID {
    --back : #ffffff;
    background-image : url("Images/back.jpg");
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 100vh;
    max-height: 100vh;


    
    color:blue;

}

.typewriter {
    padding-top: 5vh;
    color : white;
    vertical-align: middle;
    text-align: center;
}

.navbar {
    background-color: black;
    position: fixed;
    right: 0vw;
    top: 0vh;
    padding-top: 0;
    margin-top: 0;
    min-width: 100vw;
    z-index: 1;

}

.nav-link {
    color:white;
    display: inline-block;
    margin: 0;
}
.links {
    float: right;
    /*position: fixed;*/
}

.row {
    background-position-x: center;
    padding-bottom: 10vh;
}



.cursor {
    display: inline-block;
    width: 1px;;
    animation: blink 1s infinite;
}
.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {background-color: white;}
    69% {background-color: white;}
    70% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: white;}
}


.fa {
    font-size: 200%;
    width: 1.1em;
    text-decoration: none;
}
.fa-instagram {
    color: pink;
}
.fa-facebook-official {
    color: blue;
}
.fa-envelope {
    color: lightblue;
}
.fa-github {
    color: black;
}